/T1/.svn
/T1/server/_gsdata_/*.log
/T1/server/_gsdata_/*._gs
/T1/server/_gsdata_/_saved_/app/dbs/data/log/*.log
/T1/server/_gsdata_
/T1/server/deps_1
/T1/server/_gsdata_/_saved_/app/dbs/data/log/*.err
*.log
*.beam
elog
log
/T1/server/app/game/data/elog
/T1/server/app/game/data/log
/T1/server/app/game/scripts/compile_cht_gsD.txt
/T1/server/app/game/scripts/compileListDEtsFile.data
_gsdata_
/T1/tools/src/NetProtor/.vscode
/T1/tools/src/NetProtor/.vs/NetProtor/v15/*.suo
/T1/tools/src/NetProtor/.vs/NetProtor/v15/*.db
/T1/tools/src/NetProtor/.vs/NetProtor/v15/ipch/AutoPCH/b01d7bb04d25c2fe/*.ipch
/T1/tools/src/NetProtor/.vs/NetProtor/v15/ipch/AutoPCH/d851daeb49012d8/*.ipch
/T1/tools/src/NetProtor/.vs/NetProtor/v15/ipch/AutoPCH/e15d81e427e6b90e/*.ipch
/T1/tools/src/NetProtor/*.htm
/T1/server/.idea/markdown-doclet.xml
/T1/server/app/.vscode/settings.json
/T1/server/app/game/scripts/compile_*.txt
/T1/server/callg.raw
/T1/server/dialyzer-game.out
*.ilk
*.raw
/T1/tools/NetProtor/out
/T1/server/scripts/_____package_____.txt
/T1/server/app/center/scripts/compileListDEtsFile.data
/T1/server/app/center/scripts/compile_*.txt
/T1/server/scripts/*.data
/T1/server/scripts/*.txt
/T1/server/app/center/scripts/center_chs_release.txt
/T1/server/app/game/scripts/game_chs_release.txt
/T1/server/app/game/scripts/game_server_chs_release.txt
/T1/tools/ErrorCode/deps/base/*.pyc
*.pyc
/T1/server/app/game/data/GmCmd.txt
/T1/server/__cs_pkg__/luna_centerserver_hotupdate_20180926_v117385.tar.gz.2333A3EDA5F7541CF0E95FB895B3632A
/T1/server/__cs_pkg__/luna_centerserver_hotupdate_20180926_v117385.tar.gz.6458041AF5505A6E96ACDE2AC2F1F4FC
/T1/server/__cs_pkg__/luna_centerserver_hotupdate_20180926_v117385.tar.gz.CE2926B4BF41C3983129E936550503DD
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.0DC7D8E4FA2B0130F7B36BAB9544FA26
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.1EB605063D9B052C37647ED2B3433443
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.3D6B128D2752DE101CDCC5A71BA07B02
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.4A785746F47191F8C4CF54A47AD3605F
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.580065ABF86CB06761B81E436A73B415
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.693D648CCA4F33D3612680F1D14F851C
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.6ECE784594B5AA9256479088E612A6B2
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.A1A18672919302884FE25CBEE7F17A89
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.C4BA5AFDF173231CA6DD8A45C8BE8C11
/T1/server/__gs_pkg__/t1_gameserver_hotupdate_20180926_v117385.tar.gz.D8BEA9C3A0E4803490655A7096360108
/T1/server/__gs_pkg__/t1_gameserver_install_20180926_v117385.tar.gz.68FF2ABB536D6123EC9688649BCB8C4E
/T1/server/__gs_pkg__/t1_gameserver_udpate_20180926_v117385.tar.gz.DA549415E16FC95620D2EA366B8852EA
/T1/server/scripts/___temp_cs___/luna_centerserver_hotupdate_20180926_v117385.tar.gz.CE2926B4BF41C3983129E936550503DD
/T1/server/scripts/___temp_gs___/t1_gameserver_hotupdate_20180926_v117385.tar.gz.C4BA5AFDF173231CA6DD8A45C8BE8C11
