/T1/.svn
/T1/server/_gsdata_/*.log
/T1/server/_gsdata_/*._gs
/T1/server/_gsdata_/_saved_/app/dbs/data/log/*.log
/T1/server/_gsdata_
/T1/server/deps_1
/T1/server/_gsdata_/_saved_/app/dbs/data/log/*.err
*.log
*.beam
elog
log
/T1/server/app/game/data/elog
/T1/server/app/game/data/log
/T1/server/app/game/scripts/compile_cht_gsD.txt
/T1/server/app/game/scripts/compileListDEtsFile.data
_gsdata_
/T1/tools/src/NetProtor/.vscode
/T1/tools/src/NetProtor/.vs/NetProtor/v15/*.suo
/T1/tools/src/NetProtor/.vs/NetProtor/v15/*.db
/T1/tools/src/NetProtor/.vs/NetProtor/v15/ipch/AutoPCH/b01d7bb04d25c2fe/*.ipch
/T1/tools/src/NetProtor/.vs/NetProtor/v15/ipch/AutoPCH/d851daeb49012d8/*.ipch
/T1/tools/src/NetProtor/.vs/NetProtor/v15/ipch/AutoPCH/e15d81e427e6b90e/*.ipch
/T1/tools/src/NetProtor/*.htm
/T1/server/.idea/markdown-doclet.xml
/T1/server/app/.vscode/settings.json
/T1/server/app/game/scripts/compile_*.txt
/T1/server/callg.raw
/T1/server/dialyzer-game.out
*.ilk
/T1/tools/NetProtor/out
/T1/server/scripts/_____package_____.txt
/T1/server/app/center/scripts/compileListDEtsFile.data
/T1/server/app/center/scripts/compile_*.txt
/T1/server/scripts/compileListDEtsFile.center_server.data
/T1/server/scripts/compileListDEtsFile.game_server.data
/T1/server/scripts/compile_center_server_cht_debug.txt
/T1/server/scripts/compile_game_server_cht_debug.txt
