/T1/.svn
/T1/server/_gsdata_/*.log
/T1/server/_gsdata_/*._gs
/T1/server/_gsdata_/_saved_/app/dbs/data/log/*.log
/T1/server/_gsdata_
/T1/server/deps_1
/T1/server/_gsdata_/_saved_/app/dbs/data/log/*.err
*.log
*.beam
elog
log
/T1/server/app/game/data/elog
/T1/server/app/game/data/log
/T1/server/app/game/scripts/compile_cht_gsD.txt
/T1/server/app/game/scripts/compileListDEtsFile.data
_gsdata_
