{
	[
		
		"../src",
		"../../deps/pubs",
		"../../deps/cache",
		"../../deps/dynamic_compile",
		"../../deps/econfig",
		"../../deps/eep",
		"../../deps/fastlog",
		"../../deps/fly",
		"../../deps/mysql-otp",
		"../../deps/mysql-otp-poolboy",
		"../../deps/poolboy"
	],

	[
		{d,'DB_SERVER',1},
		{i, "../include"},
		{i, "../../deps/pubs/include"},
		{i, "../../deps/pubs/src/resource/pack"},
		{i, "../../deps/mysql-otp/include"},
		{outdir,"../ebin"}
	]
}.
