{
	[
		"../src",
		"../../deps/dynamic_compile",
		"../../deps/econfig",
		"../../deps/eep",
		"../../deps/fastlog",
		"../../deps/fly",
		"../../deps/ranch",
		"../../deps/recon",
		"../../deps/mysql-otp",
		"../../deps/mysql-otp-poolboy",
		"../../deps/poolboy",		
		"../../deps/pubs"
	],

	[
		{d,'GAME_SERVER',1},
		{i, "../include"},
		{i, "../src/config"},
		{i, "../../deps/pubs/include"},
		{i, "../../deps/pubs/src/net"},
		{i, "../../deps/pubs/src/resource/pack"},
		{i, "../../deps/mysql-otp/include"},
		{outdir,"../ebin"}
	]
}.
