[
{	game,
	{root_dir, "../app/game/"},
	[
		"../app/game/src",
		"../app/common/src",
		"../app/deps/dynamic_compile",
		"../app/deps/econfig",
		"../app/deps/eep",
		"../app/deps/fastlog",
		"../app/deps/fly",
		"../app/deps/ranch",
		"../app/deps/recon",
		"../app/deps/mysql-otp",
		"../app/deps/mysql-otp-poolboy",
		"../app/deps/poolboy",
		"../app/deps/gen_rpc",
		"../app/deps/pubs",
		"../app/deps/db_proxy",
		"../app/deps/observer_cli"
	],

	[
		{d,'GAME_SERVER',1},
		{i, "../app/game/include"},
		{i, "../app/game/src/config"},
		{i, "../app/common/src/netmsg"},
		{i, "../app/common/include"},
		{i, "../app/deps/pubs/include"},
		{i, "../app/deps/gen_rpc/include"},
		{i, "../app/deps/mysql-otp/include"},
		{outdir,"../app/game/ebin"}
	]
},
{center,
	{root_dir, "../app/center/"},
	[
		"../app/center/src",
		"../app/common/src",
		"../app/deps/dynamic_compile",
		"../app/deps/econfig",
		"../app/deps/eep",
		"../app/deps/fastlog",
		"../app/deps/fly",
		"../app/deps/ranch",
		"../app/deps/recon",
		"../app/deps/mysql-otp",
		"../app/deps/mysql-otp-poolboy",
		"../app/deps/poolboy",		
		"../app/deps/pubs",
		"../app/deps/gen_rpc",
		"../app/deps/dist-otp",
		"../app/deps/db_share",
		"../app/deps/db_proxy",
		"../app/deps/observer_cli"
	],

	[
		{d,'CENTER_SERVER',1},
		{i, "../app/center/include"},
		{i, "../app/common/include"},
		{i, "../app/common/src/netmsg"},
		{i, "../app/deps/pubs/include"},
		{i, "../app/deps/gen_rpc/include"},
		{i, "../app/deps/mysql-otp/include"},
		{outdir,"../app/center/ebin"}
	]
}
].

