%%目录的配置
{
	%% 工作目录
	{work_dir, 		"../"}, 
	%% Sql目录
	{sql_dir,		"../__cs_pkg_sql__/"},
	%% 打包输出目录
	{target_dir,	"../__cs_pkg__"}
}.

{	
	{
		install,
		[
			%%拷贝的路径和文件正则规则配置
			{{child_dir, "centerServer/data"}, {copy_ext, [".+\\.app","CenterServer+\\.txt$","Operations+\\.enc$"]}},
			{{child_dir, "centerServer/ebin"}, {copy_ext, [".+\\.beam"]}},
			{{child_dir, "centerServer/script"}, {copy_ext, ["start+\\.sh$", "stop+\\.sh$", "reload+\\.sh$", "reload+\\.beam$", "stop_server+\\.beam$"]}}
			%%{{child_dir, "centerServer/data/maps"}, {copy_ext, [".+\\.bytes$"]}}
		]
	},
	{
		update,
		[
			{{child_dir, "centerServer/ebin"}, {copy_ext, [".+\\.beam"]}}
		]
	}
	
}.


