%%目录的配置
{
	%% 工作目录
	{work_dir, 		"../app/"}, 
	%% Sql目录
	{sql_dir,		"../__gs_pkg_sql__/"},
	%% 打包输出目录
	{target_dir,	"../__gs_pkg__"}
}.

{	
	{
		install,
		[
			%%拷贝的路径和文件正则规则配置
			{{child_dir, "game/data"}, {copy_ext, [".+\\.app","game+\\.enc$","Operations+\\.enc$",".+\\.config",".+\\.ini"]}},
			{{child_dir, "game/ebin"}, {copy_ext, [".+\\.beam"]}},
			{{child_dir, "game/scripts"}, {copy_ext, ["start+\\.sh$", "stop+\\.sh$", "reload+\\.sh$", "reload+\\.beam$", "stop_server+\\.beam$"]}}
			%%{{child_dir, "game/data/maps"}, {copy_ext, [".+\\.bytes$"]}}
		]
	},
	{
		update,
		[
			{{child_dir, "game/ebin"}, {copy_ext, [".+\\.beam"]}}
		]
	}
	
}.


