# Created by .ignore support plugin (hsz.mobi)
### Erlang template
.eunit
*.log
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar


/scripts/center_chs_debug.txt
/scripts/center_chs_release.txt
/scripts/center.dets.data
/scripts/game_chs_debug.txt
/scripts/game_chs_release.txt
/scripts/game.dets.data
elog
__gs_pkg_sql__
_gsdata_
/_gsdata_/
/__gs_pkg_sql__/
/.idea/
/app/_gsdata_/
/app/center/ebin/
/app/game/ebin/
/__cs_pkg__/


