%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% escript_incl_extra is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
%% Erlang compiler options

{erl_opts,
    [
        debug_info,
        %%'P', 'E', 'S',
        nowarn_export_all,
        %{d, 'DEBUG', true},
        {d, 'Region', cht},
        {src_dirs,
            [
                "src",
                "../common/src",
                "../deps/dynamic_compile",
                "../deps/econfig",
                "../deps/eep",
                "../deps/fastlog",
                "../deps/fly",
                "../deps/ranch",
                "../deps/recon",
                "../deps/mysql-otp",
                "../deps/mysql-otp-poolboy",
                "../deps/poolboy",
                "../deps/pubs",
                "../deps/gen_rpc",
                "../deps/db_proxy"
            ]
        },
        {i, "include"},
        {i, "src/pub/config"},
        {i, "../common/src/netmsg"},
        {i, "../common/include"},
        {i, "../deps/pubs/include"},
        {i, "../deps/gen_rpc/include"},
        {i, "../deps/mysql-otp/include"}
    ]}.

{deps, []}.

{edoc_opts, []}.

{cover_enabled, true}.

{pre_hooks, [
]}.