%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% escript_incl_extra is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
%% Erlang compiler options

{erl_opts,
	[
		debug_info,
		nowarn_export_all,
		%{d, 'DEBUG', true},
		{src_dirs,
			[
				"src",
				"../deps/dynamic_compile",
				"../deps/econfig",
				"../deps/eep",
				"../deps/fastlog",
				"../deps/fly",
				"../deps/ranch",
				"../deps/pubs"
			]
		},
		{i, "include"},
		{i, "../deps/pubs/include"},
		{i, "../deps/pubs/src/net"},	
		{i, "../deps/pubs/src/config"},
		{i, "../deps/pubs/src/resource/pack"},
		{i, "../deps/mysql-otp/include"}
	]}.

{deps, []}.

{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme, {"./README.md", "https://github.com/siberian-fast-food/alogger"}}]}.

{cover_enabled, true}.

{pre_hooks,[
]}.